* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}

a:hover {
  color: #904caf;
}

.main-header {
  background-color: #b52454;
}
.main-header button {
  color: #b52454;
}

.main-nav-li {
  font-family: "Montserrat", sans-serif;
}
.main-nav-li .main-nav-a {
  color: #ffffff;
}
.main-nav-li .main-nav-a:hover {
  color: #ffef77;
}
.main-nav-li .a-current {
  color: #f9d108;
  font-weight: bold;
  text-underline-offset: 5px;
}

.footer-container {
  background-color: #f9d108;
}

@media (min-width: 768px) {
  .footer-legal-section {
    order: 1;
  }
  .footer-socials-section {
    order: 2;
  }
  .footer-address-section {
    order: 3;
  }
}
.social-media-logo {
  color: #c61476;
  max-width: fit-content;
}

.legal-link {
  color: #000000;
}

.main-section {
  background-image: url("../assets/img/image.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
}
.main-section h1 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5019607843);
}

.carousel h5, .carousel p {
  text-shadow: 1px 1px 1px #000000;
}
.carousel .container {
  max-width: 1092px;
}

.nosotros-section {
  background-image: url("../assets/img/image.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.nosotros-section iframe {
  max-width: 600px;
}

.valores-section {
  background-image: linear-gradient(60deg, #711461 0%, #c61476 100%);
}

.mision-section, .historia-section {
  background-image: linear-gradient(to left bottom, #ffffff, #fff9ff, #fff3f3, #fff1d9, #fff8c6);
}

.contacto-main {
  background-color: #711461;
  background-image: url("../assets/img/background-binding-dark.png");
}

.title-h3-dark-bg {
  color: #f9d108;
}

.contacto-img img {
  object-fit: none;
  object-position: center;
  box-shadow: 0px 1px 1px #333333;
}

#floatingTextarea.form-comentarios {
  height: 130px;
}

.contacto-btn {
  background-color: #c61476;
  border-color: #c61476;
}
.contacto-btn:hover {
  background-color: #e27497;
  border-color: #e27497;
}

.form-control:focus {
  border-color: #c61476;
  box-shadow: 0 0 0 0.25rem rgba(253, 13, 216, 0.2509803922);
}

.colecciones-section {
  background: #000000;
  background: linear-gradient(rgba(171, 171, 171, 0.1), rgba(0, 0, 0, 0.8)), url(../assets/img/colecciones.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
}
.colecciones-section h1, .colecciones-section p {
  text-shadow: 1px 0px 1px #333333;
}

.coleccion-item-price {
  text-decoration: none;
  background: linear-gradient(to left top, rgba(0, 0, 0, 0.6901960784), rgba(0, 0, 0, 0.8));
}

.coleccion-card {
  filter: grayscale(0.4);
}
.coleccion-card .card-body {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0s, opacity 0.5s ease;
}
.coleccion-card .card-body .coleccion-item-name {
  background-color: rgba(255, 255, 255, 0.8666666667);
}
.coleccion-card::after {
  content: "";
  background: transparent;
  border: 0.3rem solid #c61476;
  top: 1rem;
  right: -1rem;
  bottom: -1rem;
  left: 1rem;
  position: absolute;
  z-index: -1;
  transition: right 0.5s ease, bottom 0.5s ease;
}
.coleccion-card:hover {
  filter: grayscale(0);
}
.coleccion-card:hover .card-body {
  visibility: visible;
  opacity: 1;
}
.coleccion-card:hover::after {
  right: 0;
  bottom: 0;
}

.eventos-section {
  background-image: url("../assets/img/publico-image-dark-overlay.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
}
.eventos-section h1, .eventos-section span {
  text-shadow: 0px 1px 1px #333333;
}/*# sourceMappingURL=estilos.css.map */