// Sección principal en index
.main-section {
    @include background-image("../assets/img/image.png", top);
    min-height: 300px;

    h1 {
        text-shadow: $text-shadow-soft;
    }
}

@media (min-width: 640px) {
    .main-section {
        @include background-image("../assets/img/image_640.png", top);
    }
}

// Carrusel
.carousel {
    .container {
        max-width: 1092px;
    }

    .container::after {
        display: block;
        position: relative;
        background-image: map-get($map: $linear-gradient, $key: sombra-inferior-20perc);
        margin-top: -150px;
        height: 150px;
        width: 100%;
        content: '';
      }
}