// Nosotros page
.nosotros-section {
    @include background-image("../assets/img/image.png", top);
    iframe {
        max-width: 600px;
    }
}

.valores-section {
    background-image: map-get($map: $linear-gradient, $key: purple-to-magenta)
}

.mision-section, .historia-section {
    background-image: map-get($map: $linear-gradient, $key: white-to-white)
}